<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="static/css/leaderboard.css">
    <script type ="text/javascript">
        score = {{scores|tojson}}
    </script>
    <script src="static/javascript/leaderboard.js"></script>
    <title>Leaderboard</title>
</head>
<body>
    <h1 class="main_title">High Scores</h1>

    <div class="scoresheet">
        <table class="score_table" id ='maintable'>
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Time</th>
            </tr>
<!--             <tr>
                <td>1</td>
                <td>These</td>
                <td>60</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Are</td>
                <td>120</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Fake</td>
                <td>160</td>
            </tr>
            <tr>
                <td>4</td>
                <td>For</td>
                <td>60</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Testing</td>
                <td>120</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Only</td>
                <td>160</td>
            </tr> -->
        </table>
    </div>
        
</body>
</html>