<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="static/css/index.css" />
    <link rel="stylesheet" href="static/css/about.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand nav-link" href="./game">GAME!</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="./">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('leaderboard') }}">Scores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./login">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id="body">
      <div>
        <h2 class="text">About Minesweeper</h2>
        <p class="text">
          Welcome to Minesweeper! The cutthroat game of chance filled with
          intrigue, laughs, romance, and most importantly...
          <strong>bombs!</strong> <i class="fa-solid fa-bomb fa-beat"></i>
          <i class="fa-solid fa-bomb fa-beat"></i>
          <i class="fa-solid fa-bomb fa-beat"></i>
        </p>
        <p class="text">
          Minesweeper was created by Microsoft in the 1990s and even for the
          time it was released it already featured middle of the road graphics.
          Minesweeper gain massive popularity not by improving it's graphics nor
          it's gameplay (though it's gameplay is unparalleled). No, Minesweeper
          got all of it's popularity by being installed on all Windows basec
          computers and by being a enjoyable enough way to waste some time.
        </p>
        <h2 class="text">How to play Minesweeper:</h2>
        <p class="text">
          When the gameboard loads you are presented with a grid of seemingly
          empty squares. However, don't be deceived, behind those "empty"
          squares lies the key to your salvation or perhaps, your doom! Will you
          dare to use your mouse to left click a square on the board?
        </p>
        <p class="text">
          First, start out by moving your mouse cursor over a square of your
          choosing. Do you feel the anticipation of what could possibly be
          hiding under that square?Me too. Be bold, don't switch squares now,
          just go with the first square that feels right.
        </p>
        <img
          class="pics"
          src="static/images/highlight_square.gif"
          alt="Gif of cursor highlighting"
        />
        <p class="text">
          Next continue being bold by left clicking on that square.
        </p>

        <img
          class="pics"
          src="static/images/click_square.gif"
          alt="Gif of clicking square"
        />

        <p class="text">
          Woah, did you see what happened? Clicking that square revealed a bunch
          of cool stuff that was hiding under a bunch of those squares.
        </p>

        <img
          class="pics"
          src="static/images/revealed_squares.jpg"
          alt="Squares revealed"
        />

        <p class="text">
          As you can see there are now a lot of empty dark grey squares. What
          this means is that there aren't any bombs in those square or any of
          the square adjacent to them. Now do you see the grey squares with
          numbers in them? Notice how they are next to squares that are still
          the original lighter color. Those numbers correspond to the number of
          bombs that are adjacent to that square, including neighbors that live
          catty-corner.
        </p>

        <img
          class="pics"
          src="static/images/bomb_squares.jpg"
          alt="Where the bombs at"
        />

        <p class="text">
          Now, if you're like us and you can't just memorize everything then
          you'll want a way to track changes. That's where the flag comes in. If
          you right click on a square you will add a flag to the board. Another
          benefit to a flag is that you will no longer be able to set the bomb
          in that square.
        </p>

        <img
          class="pics"
          src="static/images/flag_square.gif"
          alt="Flagging a square"
        />

        <p class="text">
          Those are the basics you need to know to play Minesweeper. Now all
          that's left to do is win your game. To do that you need to reveal all
          squares that don't have a bomb hiding in them. Once you click that
          last square you'll be alerted to your success.
        </p>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/7f42b6f29d.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
